body {
}

      /*#sensor1, #sensor2, #sensor3, #sensor4{
        width:400px; height:320px;
        display: inline-block;
        margin: 1em;
      }*/

      .Gage{
          margin-left:0px;margin-right:0px;
        width:200px; height:120px;
        display: inline-block;
        margin: 1em;
        color:white;
      }