<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Scripts/justGage/raphael.2.1.0.min.js"></script>
    <script src="~/Scripts/justGage/justgage.1.0.1.min.js"></script>
    <script src="~/Scripts/sensors.js"></script>

    <link rel="stylesheet" href="~/Bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/StyleSheet.css" />
    <title>@ViewBag.Title</title>
</head>
<body style="background-color:whitesmoke;">
    <div class="content" >
        @RenderBody()
    </div>
</body>
</html>
